*.class
*test-output
\test-output
*.swp
*.orig
\.classpath
**\target\classes\**
**/log.properties
*\.gitignore
automationCoolTesters\target\classes\.gitignore
.settings\**
.settings\org.eclipse.jdt.core.prefs
*.settings\**
automationCoolTesters\.settings\org.eclipse.jdt.core.prefs
/.settings/
